.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin: 15px;
  height: 50px;
  width: 50px;
  background-color: rgb(225, 129, 65);
  border-radius: 5px;
  outline: none;
  border: white;
  font-size: 30px;
}
